numpy>=1.19.1
pandas>=1.1.5
nibabel>=3.1.1
scipy>1.8.1
jinja2==3.0.1
scikit-image==0.19.2
scikit-learn
nbsphinx
kneed
statsmodels
nipype
pybids
niworkflows
mkl
mkl-service
shapely==2.0.1
mock
sphinx_rtd_theme
